<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphacoder.feature_search">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name="com.alphacoder.search.presentation.SearchActivity" />
    </application>
</manifest>
